<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="app/templates/homepage/index.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Restaurant Website</title>
  </head>
  <body>
    
    
  <nav>
    <ul class="nav-flex-row">
      <li class="nav-item">
        <a href="/search">Search</a>
      </li>
      <li class="nav-item">
        <a href="/add">Add</a>
      </li>
      <li class="nav-item">
        <a href="/purchase">Purchase</a>
      </li>
    </ul>
  </nav>

  <section class="section-intro">
    <header>
      <h1>Dragon Buffet</h1>
    </header>
  </section>

  <section class="about-section">
    <article>
      <h3>
          Thanks and welcome to Dragon Buffet :)
      </h3>
      <p>
        Locared in Lubbock, Texas, we are one of the earliest Chinese Buffet in town.
        We are founded in 2003, with more than 10 years of professional 
        services provided to our dear neighbor Texans
        We have very authentic Chinese cuisine, with most famous 
        for Sichuan cuisine and Cantonese cuisine
        We have five chefs with very professional standards, everyone 
        of them had studied in professional cook schools in China
        Please feel free to browse our website and order food 
        It is our pleasure to serve you ou dear customers!
      </p>
    </article>
  </section>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container">
    <div class="row-flex">
      <div class="flex-column-form">
        <h3>
          Make a booking
        </h3>
      </div>
      <div class="opening-time">
        <h3>
          Opening times
        </h3>
        <p>
         <span>Monday—Thursday: 08:00 — 22:00</span> 
         <span>Friday—Saturday: 09:00 — 23:00 </span>
         <span>Sunday: 10:00 — 17:00</span>
        </p>
      </div>
      <div class="contact-adress">
        <h3>
          Contact
        </h3>
        <p>
          <span>806 785 5858</span>
          <span>5608 Slide Rd</span>
          <span>Lubbock, 79414 TX</span>
        </p>
      </div>
    </div>
    </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  
</html> 
